#Real113.main {
    width: 1000px;
    height: auto;
    margin: 5px auto;
}
#Real113.main > div {
    overflow: hidden;
}
#Real113.main > div > div {
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
}
#Real113.main > div > .banner {
    float: left;
    width: 670px;
    height: 320px;
    background: url(../img/main_banner_bg.jpg) no-repeat;
    overflow: hidden;
}
#Real113.main > div > .banner > img {
    margin-top: 100px;
    margin-left: 160px;
    
}
#Real113.main > div > .banner > ul {
    float: right;
    width: 80px;
    height: 100%;
    border-left: 1px solid #d7d7d7;
}
#Real113.main > div > .banner > ul > img {
    display: block;
}
#Real113.main > div > .banner > ul > li {
    width: 100%;
    height: 41px;
    border-top: 1px solid #d7d7d7;
    box-sizing: border-box;
}

#Real113.main > div > .banner > ul > li > a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 41px;
    background: #f2f2f2;
    font-weight: bold;
    font-size: 14px;
}
#Real113.main > div > .banner > ul > li > a:hover{
    background: #fefefe;
}

#Real113.main > div > .call {
    float: right;
    width: 326px;
    height: 133px;
    position: relative;
    background: #f2f2f2;
}
#Real113.main > div > .call > img {
    position: absolute;
    z-index: 2;
}
#Real113.main > div > .call > img:nth-child(1) {
    top: 20px;
    left: 20px;
}
#Real113.main > div > .call > img:nth-child(2) {
    top: 50px;
    left: 20px;
}
#Real113.main > div > .call > img:nth-child(3) {
    top: 80px;
    left: 20px;
}
#Real113.main > div > .call > img:nth-child(4) {
    right: 0px;
    z-index: 1;
}

#Real113.main > div > .qna {
    float: right;
    width: 326px;
    height: 182px;
    margin-top: 5px;
    padding: 20px;
    box-sizing: border-box;
}
#Real113.main > div > .qna > h3 {
    font-weight: bold;
    font-size: 14px;    
}
#Real113.main > div > .qna > table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 6px;
}
#Real113.main > div > .qna > table tr {}
#Real113.main > div > .qna > table tr > td {
    color: #6a6a6a;
}
#Real113.main > div > .qna > table tr > td:nth-child(1) {}
#Real113.main > div > .qna > table tr > td:nth-child(2) {
    display: inline-block;
    width: 219px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 20px;
}
#Real113.main > div > .qna > table tr > td:nth-child(3) {}
#Real113.main > div > .qna > table tr img {}
#Real113.main > div > .qna > table tr a {}