<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h3>Ch03.Node.js 미들웨어</h3>

        <h4>express.static</h4>
        <img src="/images/flower1.jpg" alt="" />

        <h4>get, post</h4>
        <h4>cookie, session</h4>
    </body>
</html>
