<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
		<script th:src="@{/js/user1.js}"></script>
		<script th:src="@{/js/member.js}"></script>
	</head>
	<body>
		<h3>Ch09.Spring REST 서비스 실습</h3>
		
		<h4>User1</h4>
		<button class="user1List">user1 목록</button>
		<button class="user1Select">user1 조회</button>
		<button class="user1Register">user1 등록</button>
		<button class="user1Modify">user1 수정</button>
		<button class="user1Delete">user1 삭제</button>
		
		<h4>Member</h4>
		<button class="memberList">member 목록</button>
		<button class="memberSelect">member 조회</button>
		<button class="memberRegister">member 등록</button>
		<button class="memberModify">member 수정</button>
		<button class="memberDelete">member 삭제</button>
		
	</body>
</html>