        
        footer {
            width: 100%;
            height: auto;
            background-color: #f3f3f3;
        }
        footer > div {
            width: 1126px;
            height: 210px;
            margin: 0 auto;
            padding-top: 20px;
            box-sizing: border-box;
        }
        footer > div > img {
            float: left;
        }
        footer > div > p {
            float: left;
            margin-left: 60px;
            margin-top: 20px;
            font-size: 14px;
            font-weight: bold;
            color: #aca9a9;
            text-align: left;
            line-height: 22px;
        }