<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>index</title>
	</head>
	<body>
		<h3>스프링부트 데이터 실습</h3>
		
		<h4>JPA 기본 쿼리메서드</h4>
		<a th:href="@{/user1/list}">user1 목록</a>
		<a th:href="@{/user5/list}">user5 목록</a>
		
		<h4>JPA 쿼리메서드 실습</h4>
		<a th:href="@{/query1}">조건1</a> <br/>
		<a th:href="@{/query2}">조건2</a> <br/>
		<a th:href="@{/query3}">조건3</a> <br/>
		<a th:href="@{/query4}">조건4</a> <br/>
		<a th:href="@{/query5}">조건5</a> <br/>
		<a th:href="@{/query6}">조건6</a> <br/>
		<a th:href="@{/query7}">조건7</a> <br/>
		<a th:href="@{/query8}">조건8</a> <br/>
		<a th:href="@{/query9}">조건9</a> <br/>
		<a th:href="@{/query10}">조건10</a> <br/>
		<a th:href="@{/query11}">조건11</a> <br/>
		<a th:href="@{/query12}">조건12</a> <br/>
		<a th:href="@{/query13}">조건13</a> <br/>
		<a th:href="@{/query14}">조건14</a> <br/>
		<a th:href="@{/query15}">조건15</a> <br/>
		<a th:href="@{/query16}">조건16</a> <br/>
		<a th:href="@{/query17}">조건17</a> <br/>
		<a th:href="@{/query18}">조건18</a> <br/>
		<a th:href="@{/query19}">조건19</a> <br/>
		<a th:href="@{/query20}">조건20</a> <br/>
		
		
	</body>
</html>