<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.todo.dao.AppDAO">

	<insert id="insertTodo" useGeneratedKeys="true" keyColumn="no" keyProperty="no">
		INSERT INTO `todo` set
			`content`=#{content},
			`rdate`=NOW();
	</insert>
	
	<select id="selectTodo" resultType="kr.co.todo.vo.TodoVO">
		SELECT * FROM `todo` WHERE `no`=#{no};
	</select>
	
	<select id="selectTodos" resultType="kr.co.todo.vo.TodoVO">
		SELECT * FROM `todo`;
	</select>
	
	<update id="updateTodo">
		UPDATE `todo` SET `content`=#{content} WHERE `no`=#{no};
	</update>
	
	<delete id="deleteTodo">
		DELETE FROM `todo` WHERE `no`=#{no};
	</delete>
	
	<delete id="deleteTodoAll">
		DELETE FROM `todo`;
	</delete>

</mapper>